<!-- The chat view -->
<section class="container" ng-controller="ChatController">

  <div class="page-header text-center">
    <h1 style="color: #db4437">Frequently Asked Questions</h1>
      <h1>Chat</h1>
  </div>
  <!--
  <form class="col-xs-12 col-md-offset-4 col-md-4" ng-submit="sendMessage();">
    <fieldset class="row">
      <div class="input-group">
        <input type="text" id="messageText" name="messageText" class="form-control" ng-model="messageText" placeholder="Enter new message">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary" ng-disabled="!messageText.length">Submit</button>
        </span>
      </div>
    </fieldset>
  </form>
  <ul class="list-unstyled">
    <li class="col-xs-12 col-md-offset-4 col-md-4 chat-message" ng-repeat="message in messages">
      <small class="pull-right text-muted" ng-bind="message.created | date:'mediumTime'"></small>
      <img ng-src="{{message.profileImageURL}}" alt="{{message.username}}" class="pull-left chat-profile-image" />
      <div class="pull-left chat-message-details">
        <strong ng-bind="message.username"></strong>
        <br>
        <span ng-bind="message.text"></span>
      </div>
    </li>
  </ul>
-->
  <div class="col-xs-12 col-md-offset-4 col-md-4">
    <iframe
    width="350"
    height="430"
    src="https://console.dialogflow.com/api-client/demo/embedded/ff4d5ae6-730d-40df-a17a-6c2fa5793fad">
    </iframe>
  </div>
  
</section>
